<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.18.1.0" targetFramework="net40" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net40" />
  <package id="ServiceStack.Client" version="4.0.21" targetFramework="net40" />
  <package id="ServiceStack.Common" version="4.0.21" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.21" targetFramework="net40" />
  <package id="ServiceStack.Text" version="4.0.21" targetFramework="net40" />
</packages>